<!DOCTYPE html>
<html>
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/navbar") %>
    <div class="container">
      <h2>New Message</h2>
      <form method="POST" action="/messages/new">
        <label>
          Title:
          <input
            type="text"
            name="messageTitle"
            value="<%= messageInfo?.messageTitle %>"
            placeholder="Put a good title here..."
            required
          />
        </label>
        <label>
          Your message:
          <textarea name="messageText"><%= messageInfo.messageText %></textarea>
        </label>
        <label>
          Author:
          <input
            type="text"
            name="authorName"
            value="<%= messageInfo?.authorName %>"
            placeholder="Put your name here..."
            required
          />
        </label>
        <div class="container"><%- include("../partials/errors") %></div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
