<html>
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/navbar") %>
    <div class="container">
      <h2>Message details</h2>
      <div class="message-detail">
        <h3><%= message.title %></h3>
        <div class="message-content">
          <p><%= message.text %></p>
        </div>
        <div class="message-meta">
          <p>From: <%= message.user %></p>
          <p><%= message.added %></p>
        </div>
      </div>
    </div>
  </body>
</html>
